<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" href="/static/list.css">
</head>
<body>
<h1>Dreams Collection</h1>
{% for i in range(0, len(items), 17) %}
<div class="paper">
<div class="lines">
	<strong>Page {{ i // 17 + 1 }}</strong>
	<ul>
		{% for name, link in items[i:i+17] %}
		<li><a href="{{ link }}">{{ name }}</a></li>
		{% endfor %}
	</ul>
	</div>
	<div class="holes">
		<div class="hole"></div>
		<div class="hole"></div>
		<div class="hole"></div>
	</div>
</div>
{% endfor %}
	<script>
    function toggleDarkMode() {
      const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      document.body.classList.toggle('dark-mode', isDarkMode);
    }
    window.addEventListener('load', toggleDarkMode);
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', toggleDarkMode);   
	</script>
	
</body>
</html>
